<h1>Longest Word Game - Page Score</h1>

<div>
  <%= @word %>
  <%= @original_grid %>
  <!-- @letters n'est pas accessible, utiliser hidden_field_tag
    <%= @letters %>
   -->
</div>

<div>
  <%= link_to "Play again", new_path %>
</div>
